### common ###
**/target/
!.mvn/wrapper/maven-wrapper.jar
/.idea/
*/src/test
*.pyc
**/logs/
**/node_modules

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.iml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/resources/rebel-remote.xml
/src/main/resources/rebel.xml
/src/test
