<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="article" class="show-article col-xs-12 col-sm-7 col-md-7 col-lg-8">
    <!-- 文章 start -->
    <div class="articles">
        <!--<div class="article stereo-shadow">-->
            <!--<header class="article-header">-->
                <!--<h1 class="article-title">-->
                    <!--<a href="#">测试手机效果（模板）</a>-->
                <!--</h1>-->
                <!--<div class="article-type">-->
                    <!--<span class="label label-success">原创</span>-->
                    <!--<i th:text="夏末" class="iconfont icon-ren"></i>-->
                    <!--<i class="iconfont icon-ziyuan">-->
                        <!--<a th:text="我的故事" th:href="'/category/我的故事'">我的故事</a>-->
                    <!--</i>-->
                <!--</div>-->
                <!--<div class="article-tags">-->
                    <!--<i class="iconfont icon-tag">-->
                        <!--<a class="article-tag" href="#">原创</a>-->
                    <!--</i>-->
                <!--</div>-->
            <!--</header>-->
            <!--<div class="article-main">-->
                <!--《定风波·南海归赠王定国侍人寓娘》宋代：苏轼常羡人间琢玉郎，天应乞与点酥娘。尽道清歌传皓齿，风起，雪飞炎海变清凉。万里归来颜愈少，微笑，笑时犹带岭梅香。试问岭南应不好，却道：此心安处是吾乡。-->
            <!--</div>-->
            <!--<div class="article-other">-->
                    <!--<span class="article-time">-->
						<!--<i class="iconfont icon-shijian"></i>-->
                        <!--<a href="#">2019-11-05</a>-->
                    <!--</span>-->
                <!--&lt;!&ndash;<span class="article-read-count">阅读数&nbsp;1</span>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <!-- 空白模板 start -->
        <div class="article stereo-shadow">
            <div class="example">
                <div class="example-gif-fixed">
                    <img src="/img/loading.gif" class="example-gif">
                </div>
            </div>
        </div>
        <!-- 空白模板 end -->

        <!-- 空白模板 start -->
        <div class="article stereo-shadow">
            <div class="example">
                <div class="example-gif-fixed">
                    <img src="/img/loading.gif" class="example-gif">
                </div>
            </div>
        </div>
        <!-- 空白模板 end -->

        <!-- 空白模板 start -->
        <div class="article stereo-shadow">
            <div class="example">
                <div class="example-gif-fixed">
                    <img src="/img/loading.gif" class="example-gif">
                </div>
            </div>
        </div>
        <!-- 空白模板 end -->
    </div>
    <!-- 文章 end -->

    <!-- 分页 start -->
    <div id="pagination" class="center">
        <ul class="page pagination">
            <li class="disabled">
                <a href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 分页 end -->
</div>
</body>
</html>