<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>标签 | 夏末之家</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,jzh,夏末,程序猿,springboot,java,后端">
    <meta name="description" content="这是夏末一个人的博客网站哦！"/>
    <link rel="shortcut icon" href="https://oss.jzh.plus/xiamo.jpg"/>

<!--    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"/>-->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/plugs_paging.css" type="text/css" rel="stylesheet">
    <link href="/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="//at.alicdn.com/t/font_1640315_wv0hudao6hi.css" rel="stylesheet"/>
</head>
<body>
<!-- 引入头部 -->
<div th:replace="header :: header"></div>

<div class="container">
    <!-- 左边栏 start -->
    <!--<th:block th:include="nav :: nav"></th:block>-->
    <div th:replace="nav :: nav"></div>
    <!-- 左边栏 end -->

    <!-- 文章列表 start -->
    <div th:replace="article :: article"></div>
    <!-- 文章列表 end -->

</div>

<!-- 引入尾部 -->
<div th:replace="footer :: footer"></div>

</body>
<!--<script src="/js/jquery-3.4.1.js"></script>-->
<!--<script src="/js/bootstrap.js"></script>-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/plugs_paging.js"></script>
<script src="/plugin/tagcanvas/js/jquery.tagcanvas.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/tag.js"></script>
</html>