<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>夏末之家</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,jzh,夏末,程序猿,springboot,java,后端">
    <meta name="description" content="这是夏末一个人的博客哦！"/>
    <!--<link rel="shortcut icon" href="http://q1.qlogo.cn/g?b=qq&nk=813997065&s=100"/>-->
    <link rel="shortcut icon" href="https://oss.jzh.plus/xiamo.jpg"/>

    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/css/plugs_paging.css" type="text/css" rel="stylesheet">

</head>
<body>
<div id="pagination" class="center">
    <ul class="page pagination">
        <li class="disabled">
            <a href="#">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<div class="center">
    <ul class="page pagination">
        <li class="disabled">
            <a href="#">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a style="cursor: auto;">...</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<button onclick="repeatSubmit()">测试重复提交</button>
<!--<img src="https://oss.jzh.plus/Chrysanthemum.jpg" alt="测试">-->
</body>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/plugs_paging.js"></script>
<script src="/js/common.js"></script>
<script src="/js/test.js"></script>
</html>