<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzh.myblog.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jzh.myblog.entity.Feedback">
        <id column="id" property="id" />
        <result column="feedback_name" property="feedbackName" />
        <result column="feedback_content" property="feedbackContent" />
        <result column="contact_info" property="contactInfo" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, feedback_name, feedback_content, contact_info, create_time, update_time, deleted
    </sql>

</mapper>
